<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- link CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- link JavaScript -->
    <script src="/script/dashboardform.js" defer></script>
</head>
    <script src="/script/username.js" defer></script>


<body>

    <%- locals.navBalk %> 

    <h1>
        <% if (locals.user) { %>
            <%=`welkom ${locals.user} `%>
                <% } else{"Hoe ben jij hier?"} %>
    </h1>
    <h2>Dashboard</h2>


    <form id="dashboardForm">
        <label for="productname">Verzamelobject naam:</label><br>
        <input type="text" id="productname" name="productname"><br>

        <label for="omschrijving">Verzamelobject omschrijving:</label><br>
        <textarea type="text" id="omschrijving" name="omschrijving"></textarea><br>

        <label for="datum" class="datum">Datum van toevoeging:</label><br>
        <input type="date" id="datum" name="datum"><br>

        <label for="waarde">Verzamelobject waarde:</label><br>
        <input type="number" id="waarde" name="waarde"><br>

        <label for="eigenaar">Eigenaar:</label><br>
        <input type="text" id="eigenaar" name="eigenaar"><br>

        <label for="classificatie">Classificatie:</label><br>
        <input type="text" id="classificatie" name="classificatie"><br>

        <button type="submit" id="submitForm">Verzamelobject toevoegen</button>
    </form>



</body>

</html>